In [8]:
"""************************************************
*                                              *
* Hello, Niema! Welcome to Intro to Python! :) *
*                                              *
************************************************ """

name = 'Sabeel'

l = len(name)

print((9 + l + 34) * '*')
print('*',(9 + l + 32)*' ', '*', sep = '')
print('* ', 'Hello, ', name, '! Welcome to Intro to Python! :) *',sep = '')
print('*',(9 + l + 32)*' ', '*', sep = '')
print((9 + l + 34) * '*')

#for index in range(9 + len(name) + 34):
 #   print('*', '')

*************************************************
*                                               *
* Hello, Sabeel! Welcome to Intro to Python! :) *
*                                               *
*************************************************